html, body {
    max-width: 100%;
    overflow-x: hidden;
  }
  
  .header {
      background-color: white;
      opacity:1;
      position: fixed;
      left:0;
      top:0;
      width:100%;
      z-index:100;
    }
    
    .header a {
      float: left;
      color: black;
      text-align: center;
      padding: 12px;
      text-decoration: none;
      font-size: 18px; 
      line-height: 25px;
      border-radius: 4px;
    }
    
    .header a.logo {
      font-size: 25px;
      font-weight: bold;
      color: white;
    }
    .header a:hover {
      background-color: #ddd;
      
      color: black;
    }
    
    .header a.active {
      background-color: dodgerblue;
      color: white;
    }
    
    .header-right {
      float: right;
    }
    
    .header-left {
        background-color: black;
        color: white;
        float: left;
      }
    
    @media screen and (max-width: 100%) {
      .header a {
        float: none;
        display: block;
        text-align: left;
      }
      
      .header-right {
        float: none;
      }
    }
  
    .right-side {
      background-color: black;
      opacity:1;
      position: fixed;
      right:0;
      top:0;
      height:100%;
      z-index:5;
    }
    
    .right-side a {
      right: left;
      color: black;
      text-align: center;
      padding: 12px;
      text-decoration: none;
      font-size: 18px; 
      line-height: 25px;
      border-radius: 4px;
    }
    
    .right-side a.logo {
      font-size: 25px;
      font-weight: bold;
      color: white;
    }
    .right-side a:hover {
      background-color: #ddd;
      
      color: black;
    }
    
    .right-side a.active {
      background-color: dodgerblue;
      color: white;
    }
    
    .right-side-right {
      float: right;
    }
    
    .right-side-left {
        background-color: black;
        color: white;
        float: left;
         border-top-right-radius:20%; 
      }
  
      .dropdown-menu{
      left: 0;
      }
    
    @media screen and (max-width: 500px) {
      .right-side a {
        float: none;
        display: block;
        text-align: left;
      }
      
      .right-side-right {
        float: none;
      }
    }
    
      .footer {
        position: fixed;
        opacity: 0.6;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #202020;
        color: whitesmoke;
        text-align: center;
      }
  
      
      .sliced{
          border-bottom-right-radius: 60%;
      }
      .float-left{
          float: left;
      }
      .on-top{
          z-index: 6;
      }
  
      body{background-color:#000; overflow:hidden;}
  
  .scroll-down {
      position: absolute;
    bottom: 10px;
    left:7%;
      display: block;
      text-align: center;
      font-size: 200px;
      z-index: 100;
      text-decoration: none;
      text-shadow: 0;
    width: 130px;
    height: 130px;
    border-bottom: 2px solid #100e17;
    border-right: 2px solid #100e17;
    z-index: 9;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
      -webkit-animation: fade_move_down 4s ease-in-out infinite;
      -moz-animation:    fade_move_down 4s ease-in-out infinite;
      animation:         fade_move_down 4s ease-in-out infinite;
  }
  
  
  .scroll-down1 {
      position: absolute;
    bottom: 10px;
    left:7%;
      display: block;
      text-align: center;
      font-size: 200px;
      z-index: 100;
      text-decoration: none;
      text-shadow: 0;
    width: 130px;
    height: 130px;
    border-bottom: 2px solid whitesmoke;
    border-right: 2px solid whitesmoke;
    z-index: 9;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
      -webkit-animation: fade_move_down 4s ease-in-out infinite;
      -moz-animation:    fade_move_down 4s ease-in-out infinite;
      animation:         fade_move_down 4s ease-in-out infinite;
  }
  
  /*animated scroll arrow animation*/
  @-webkit-keyframes fade_move_down {
    0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
  @-moz-keyframes fade_move_down {
    0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
  @keyframes fade_move_down {
    0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
  
  
  .photo{
      width:100%;
      height:760px;
  }
  
  
  @media (max-width: 770px) {
  
    .logo-pd{
      padding-bottom: 15px;
      padding-left: 20%;
    }
    
  
    .scroll-down {
      position: absolute;
      bottom: 10px;
      left:-5%;
      display: block;
      text-align: center;
      font-size: 150px;
      z-index: 100;
      text-decoration: none;
      text-shadow: 0;
      width: 100px;
      height: 100px;
      border-bottom: 2px solid #100e17;
      border-right: 2px solid #100e17;
      z-index: 9;
      -webkit-transform: translate(-50%, 0%) rotate(45deg);
      -moz-transform: translate(-50%, 0%) rotate(45deg);
      transform: translate(-50%, 0%) rotate(45deg);
      -webkit-animation: fade_move_down 4s ease-in-out infinite;
      -moz-animation:    fade_move_down 4s ease-in-out infinite;
      animation:         fade_move_down 4s ease-in-out infinite;
    }
    
    
    .scroll-down1 {
      position: absolute;
      bottom: 10px;
      left:-5%;
      display: block;
      text-align: center;
      font-size: 150px;
      z-index: 100;
      text-decoration: none;
      text-shadow: 0;
      width: 100px;
      height: 100px;
      border-bottom: 2px solid whitesmoke;
      border-right: 2px solid whitesmoke;
      z-index: 9;
      -webkit-transform: translate(-50%, 0%) rotate(45deg);
      -moz-transform: translate(-50%, 0%) rotate(45deg);
      transform: translate(-50%, 0%) rotate(45deg);
      -webkit-animation: fade_move_down 4s ease-in-out infinite;
      -moz-animation:    fade_move_down 4s ease-in-out infinite;
      animation:         fade_move_down 4s ease-in-out infinite;
    }
  }
  @media only screen and (max-width: 320px) {
  
    .logo-pd{
      padding-bottom: 15px;
      padding-left: 20%;
    }
    
    .scroll-down {
      position: absolute;
      bottom: 10px;
      left:-30px;
      display: block;
      text-align: center;
      font-size: 100px;
      z-index: 100;
      text-decoration: none;
      text-shadow: 0;
      width: 100px;
      height: 100px;
      border-bottom: 2px solid #100e17;
      border-right: 2px solid #100e17;
      z-index: 9;
      -webkit-transform: translate(-50%, 0%) rotate(45deg);
      -moz-transform: translate(-50%, 0%) rotate(45deg);
      transform: translate(-50%, 0%) rotate(45deg);
      -webkit-animation: fade_move_down 4s ease-in-out infinite;
      -moz-animation:    fade_move_down 4s ease-in-out infinite;
      animation:         fade_move_down 4s ease-in-out infinite;
    }
    
    
    .scroll-down1 {
      position: absolute;
      bottom: 10px;
      left:-30px;
      display: block;
      text-align: center;
      font-size: 100px;
      z-index: 100;
      text-decoration: none;
      text-shadow: 0;
      width: 100px;
      height: 100px;
      border-bottom: 2px solid whitesmoke;
      border-right: 2px solid whitesmoke;
      z-index: 9;
      -webkit-transform: translate(-50%, 0%) rotate(45deg);
      -moz-transform: translate(-50%, 0%) rotate(45deg);
      transform: translate(-50%, 0%) rotate(45deg);
      -webkit-animation: fade_move_down 4s ease-in-out infinite;
      -moz-animation:    fade_move_down 4s ease-in-out infinite;
      animation:         fade_move_down 4s ease-in-out infinite;
    }
  }
  
  
  a:-webkit-any-link {
      color: -webkit-link;
      cursor: pointer;
      text-decoration: underline;
  }
  
  *, *::before, *::after {
      box-sizing: border-box;
  }
  
  .services-content-item {
      flex: 1;
      color: #ffffff;
      padding: 80px 40px;
      transition: color .5s ease-out;
      position: relative;
  }
  
  .fade {
      opacity: 1;
      transition: opacity .5s ease-in-out;
      -moz-transition: opacity 1.55s ease-in-out;
      -webkit-transition: opacity 1.55s ease-in-out;
      }
   
      .fade:hover {
         opacity: 0;
         }
  
      .not-fade{
          opacity: 0;
          transition: opacity .5s ease-in-out;
          -moz-transition: opacity 1.55s ease-in-out;
          -webkit-transition: opacity 1.55s ease-in-out;
         }
  
         .not-fade:hover {
          opacity: 1;
          }
  
          .photo-fixed{
              width:100%;
              height:760px;
              position: absolute;
              top:0;
              left:0;
          }
  
          @media screen and (max-width: 480px) {
            img {
                 max-height: 400px;
            }
        }
  
          .photo-fixed-right{
              width:50%;
              height:700px;
              position: absolute;
              top:0;
              right:0;
          }
  
          .fade-2 {
              opacity: 1;
              transition: opacity .5s ease-in-out;
              -moz-transition: opacity 1.55s ease-in-out;
              -webkit-transition: opacity 1.55s ease-in-out;
              }
           
              .fade-2:hover {
                 opacity: 0;
                 }
          
              .not-fade-2{
                  opacity: 0;
                  transition: opacity .5s ease-in-out;
                  -moz-transition: opacity 1.55s ease-in-out;
                  -webkit-transition: opacity 1.55s ease-in-out;
                 }
          
                 .not-fade-2:hover {
                  opacity: 1;
                  }
          
  .popout{
      font-family: Futura, sans-serif;
      font-weight: 900;
      font-size: 60px;
      padding: 10px;
      }
      p {
          text-indent: 50px;
          text-align: justify;
          letter-spacing: 3px;
        }
        
  .photo-pos{ position:relative
  }
       
  
  .photo-sm{
      width:100%;
      height:300px;
  }
  .photo-sm-fixed{
      width:100%;
      height:300px;
      position: absolute;
      top:0;
      left:0;
  }
  
  .photo-sm-fixed-right{
      width:50%;
      height:500px;
      position: absolute;
      top:0;
      right:0;
  }
  
  .footer-big{
    color:#100e17;
    padding-left: 5%;
  background-color: #DCDCDC;
  }
  .fa {
    padding: 5px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  
  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  .fa-skype {
    background: #00aff0;
    color: white;
  }
  
  .fa-android {
    background: #a4c639;
    color: white;
  }
  
  .fa-dribbble {
    background: #ea4c89;
    color: white;
  }
  
  .fa-vimeo {
    background: #45bbff;
    color: white;
  }
  
  .fa-tumblr {
    background: #2c4762;
    color: white;
  }
  
  .fa-vine {
    background: #00b489;
    color: white;
  }
  
  .fa-foursquare {
    background: #45bbff;
    color: white;
  }
  
  .fa-stumbleupon {
    background: #eb4924;
    color: white;
  }
  
  .fa-flickr {
    background: #f40083;
    color: white;
  }
  
  .fa-yahoo {
    background: #430297;
    color: white;
  }
  
  .fa-soundcloud {
    background: #ff5500;
    color: white;
  }
  
  .fa-reddit {
    background: #ff5700;
    color: white;
  }
  
  .fa-rss {
    background: #ff6600;
    color: white;
  }
  .p-padding {
    padding:10px;
  }
  
  .js-video {
    margin-top: -30.06%;
  }
  
  .bg-bl{
    background-color: black;
    color: whitesmoke;
    padding-bottom: 7%;
    padding-top: 5%;
  }
  
  
  .photo-sm-2{
    width:50%;
    height:50;
  }
  
  .logo-pd{
    padding: 5%;
    padding-left: 20%;
  }
  
  
  #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1000px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
  
  
  svg {width: 10%; height: auto;}
  
  h3{
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  
  .small {
    display: none;
  }
  
  @media (max-width: 960px) {
    .big { display: none; }
    .small { display: inline-block;
     }
    .header{
      background-color: black;
      color:#fff;
    }
  
    .popout{
      font-family: Futura, sans-serif;
      font-weight: 400;
      font-size: 30px;
      padding: 6px;
        }
        p {
            text-indent: 49px;
            text-align: left;
            letter-spacing: 3px;
          }
          
    .photo-pos{ position:relative
    }
  }
  
  .lnr {
    display: inline-block;
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: -0.05em;
  }
  
  .lnr-list {
    color: white;
    /* We can use "color" for setting the color
    of the SVG because we set its "fill" to
    "currentColor" */
    font-size: 40px;
    /* We can use "font-size" for changing the size
    of the SVG because its width and height were
    set 1em.
    To get crisp results, use sizes that are
    a multiple of 20; because Linearicons was
    designed on a 20 by 20 grid. */
  }
  
  .h3{
      padding:5%;
  }
  
  a:link {
    color:black;
    text-decoration: none;
  }
  
  a:visited {
    color:black;
    text-decoration: none;
  }
  
  a:hover {
    color:black;
    text-decoration: underline;
  }
  
  a:active {
    color:black;
    text-decoration: underline;
  }
  
  .topa{
    z-index: 200;
  }