<nav class="navbar navbar-expand-lg navbar-light bg-light header-poss">
  <a class="navbar-brand" href="#">
    <h1 class="title">Bobeto v2</h1>
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active"> <a class="nav-link" href="#"><img id="thirdPhoto"
            src="https://vspolimenov.github.io/bobeto/assets/flowers.jpg" class="rounded-circle small-photo"
            alt="Paris"> <span class="sr-only"></span></a>
      </li>
    </ul>
  </div>
</nav><br>
<div class="container">
  <br>
  <br><br> <br><br>
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-3 ">
    </div>
    <div class="col-md-6 col-sm-12">

      <h2>Здравей бобенце, този сайт е направен специално за теб с много любов</h2>

    </div>

    <div class="col-md-3 "></div>
  </div>
  <br> <br>
  <br>
  <br>
  <br><br>
  <br>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <img src="https://vspolimenov.github.io/bobeto/assets/first_img.jpg" class="rounded-circle photo">
    </div>
    <div class="col-md-6  "></div>
  </div>
  <br> <br>
  <br>
  <br><br>
  <br>
  <br><br>
  <br>
  <br>
  <br>
  <div class="bgr">
    <div class="row ">
      <div class="col-md-4 "></div>
      <div data-aos="zoom-out-down" class="col-md-12 col-sm-12 text-padding">

        <h3>Мисля че е време малко да обновим сайта. </h3>

      </div>
      <br>
      <br>
      <br><br>
      <img id="thirdPhoto" src="https://vspolimenov.github.io/bobeto/assets/second_img.JPG" class="rounded photo"
        alt="Paris">

      <br>
      <br><br>
      <br>
      <br>

    </div>
  </div>
  <br>
  <div class="width80">
    <div class="divider light"></div>
  </div>
  <br>
  <br><br><br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div data-aos="zoom-out-down" class="col-md-6 col-sm-6 text-padding">

      <h3>Aко си съгласна, хайде да продължаваме натам</h3>

    </div><br>
    <br>
    <br>
    <br>
    <div class="col-md-6 col-sm-6">
      <img id="thirdPhoto" src="https://vspolimenov.github.io/bobeto/assets/third_img.JPG" class="rounded-circle photo"
        alt="Paris">
    </div>
  </div>
  <br>
  <br> <br>
  <br>
  <br>
  <br> <br>
  <br>
  <br>
  <div class="width80">
    <div class="divider light"></div>
  </div>
  <br>
  <br><br>
  <div class="row text-padding">
    <div data-aos="fade-up" class="col-md-4 col-sm-4">
      <h3>
        Класация за месец април:
        <br>
        <br></h3>
    </div>
    <div data-aos="fade-up" class="col-md-4 col-sm-4">
      <img src="../assets/bird.png" class="rounded-circle photo">
    </div>
    <h2>
      <div data-aos="zoom-out-down" class="text-padding col-md-4 col-sm-4">

        Най-сладка снимка на бобето през този месец.
      </div>
      <br>
      <br>
      <br><br>
    </h2>
    <br>
  </div>
  <br>
  <div class="width80">
    <div class="divider light"></div>
  </div>
  <br><br><br><br>
  <div class="row">
    <div data-aos="zoom-out-down" class="col-md-12 col-sm-12 text-padding">
      <h3>
        Нека започнем с претендент номер 1:
        <br>
        <br></h3>

    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6 text-padding" data-aos="fade-left">
      <img id="thirdPhoto" src="https://vspolimenov.github.io/bobeto/assets/pretendent_1.JPG" class="photo" alt="Paris">
    </div>
    <br><br>
    <div data-aos="zoom-out-down" class="col-md-6 col-sm-6 text-padding">

      <h5>
        Tова е претендент тип КИФЛЕЯ. <br>Мисля че си много сладка и <br>това е един достоен претендент <br> за
        първото място
        <br>
        <br></h5>
    </div>
    <br><br><br>
    <br>
  </div>
  <br><br>
  <div class="width80">
    <div class="divider light"></div>
  </div>
  <div class="row">
    <div data-aos="zoom-out-down " class="col-md-12 col-sm-12 text-padding">

      <h3>
        Ето го и претендент номер 2:
        <br>
        <br></h3>
    </div>
  </div>
  <div class="row">
    <br><br>
    <br> <br>
    <br>
    <div data-aos="zoom-out-down" class="col-md-6 col-sm-6 text-padding">

      <h5>
        Тук няма да крия, че аз имам симпатии<br> към тази снимка поради моето участиe в нея.<br> Претендент тип
        БАБЕТА
        <br>
        <br></h5>
    </div>
    <div data-aos="zoom-out-down " class="col-md-6 col-sm-6 text-padding">

      <div data-aos="fade-left">
        <img id="thirdPhoto" src="https://vspolimenov.github.io/bobeto/assets/pretendent_2.PNG" class="photo"
          alt="Paris">
      </div>
      <br>

    </div>
  </div>
  <br><br>
  <br><br> <br>
  <br>
  <div class="width80">
    <div class="divider light"></div>
  </div>
  <div class="row">
    <div data-aos="zoom-out-down" class="text-padding-3">
      <br><br>
      <br>
      <h3 class="text-padding col-md-12 col-sm-12">
        Претендент номер 3 дами и господа. Последният за този месец:
        <br>
        <br></h3>
      <br><br>
    </div>
    <br> <br>
  </div>
  <br>
  <div class="row">
    <div data-aos="fade-left" class="text-padding col-md-6 col-sm-6">
      <img id="thirdPhoto" src="https://vspolimenov.github.io/bobeto/assets/pretendent_3.JPG" class="photo" alt="Paris">
    </div>
    <br>
    <div data-aos="zoom-out-down" class="text-padding col-md-6 col-sm-6">
      <h5>
        Това тук е най-сладкото нацупено бобе.<br> Претендент тип ГОЛЕМИ УСТНИ <br>
        <br></h5>
    </div>
    <br><br>
    <br>
    <br><br>
  </div>
  <br>
  <br> <br>
  <br>
  <div class="row">
    <div data-aos="zoom-out-down" class="col-md-12 col-sm-12 text-padding">
      <h2>
        Гласуването става след задълбочено обсъщане на лично съобщение в месинджър. <br>
        <br></h2>
    </div>
  </div>
  <br><br>
  <br>
  <br><br>
  <br>
  <br>
  <br><br>
  <br>
  <br>
  <br>
  <div class="width80">
    <div class="divider light"></div>
  </div>
  <br>
  <br>
  <div class="row bgr">
    <div data-aos="zoom-out-down" class="col-md-12 col-sm-12 text-padding">
      <h3>
        Едно приключение на бобето:
      </h3> <br>
      <br>
    </div>
  </div>
  <div class="row bgr">
    <div data-aos="flip-left" class="text-padding col-ms-12 col-ms-12">
      <img id="thirdPhoto" src="https://vspolimenov.github.io/bobeto/assets/adventure_2.JPG" class=" photo" alt="Paris">

      <h3>
        Стана малко по-трудно. Можеш ли пак да познаеш къде сме
      </h3>
    </div>
    <br> <br>
    <br>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="width80">
    <div class="divider light"></div>
  </div> <br>
  <br>
  <br> <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-6 col-ms-6 text-padding" data-aos="flip-left" data-aos-easing="ease-out-cubic"
      data-aos-duration="2000">
      <img id="thirdPhoto" src="https://vspolimenov.github.io/bobeto/assets/travel.jpg" class="photo" alt="Paris">
    </div>
    <br>
    <br>
    <br>
    <div data-aos="zoom-out-down" class="col-md-6 col-ms-6 text-padding">
      <h3>
        Понеже знам че обичаме да пътуваме, <br>сега точно не можем, но хайде <br>напиши къде искаш да отидем
        най-скоро
      </h3>
    </div>
  </div> <br>
  <br>
  <br> <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-12 col-ms-12 text-padding">
      <input mdbInput type="text" name="text" [(ngModel)]="text" id="form1" class="form-control">
      <p (click)="saveLocation();">Запази</p>
      <br><br>
      <br>
      <br>
      <h3>
        Нов ден, ново поздравче...
      </h3>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-ms-12 col-md-12"><iframe class="width-max" height="315"
        src="https://www.youtube.com/embed/yrLKgFOrSeo" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
  </div>
  <br><br>
  <br>
  <br>
  <br>
  <br><br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="width80">
    <div class="divider light"></div>
  </div>
  <br><br><br><br>
  <div class="bgr">
    <div class="row">
      <div data-aos="zoom-out-down" class="text-padding col-12">
        <h3>
          Сега е време да ти дам думата (Все пак това е твоя сайт нали )
          <br> Кой иска да му дам думата?
        </h3>
        <div data-aos="flip-left">
          <img id="thirdPhoto" src="https://vspolimenov.github.io/bobeto/assets/az.JPG" class="photo" alt="Paris">
        </div>
      </div>
    </div>
    <div class="row">
      <div data-aos="zoom-out-down" class="text-padding col-12">
        <h3>
          Аааз
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="text-padding col-12">
        <br><br><br><br>
        <div class="md-form">
          <input mdbInput type="text" name="text" [(ngModel)]="wish" id="form1" class="form-control">

          <p (click)="saveLocation();">Продължавай да записваш своите желания. Пепи чака новото желание...<br> Той ще
            запазва всичко което запишеш</p>
        </div>
        <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000"
          class="col-md-4 col-sm-12 col-12">
          <img id="thirdPhoto" (click)="saveWish()"
            src="https://vspolimenov.github.io/bobeto/assets/IMG_20180604_105619_090.jpg" class="photo" alt="Paris">
        </div>
        <br><br><br>
      </div>
    </div><br><br>
  </div>
  <div class="row">
    <br><br>
    <div data-aos="zoom-out-down" class="text-padding col-md-6 col-sm-6"><br><br>
      <h3>
        Нямам търпение да си те гушкам, целувам и усещам близо до мен
      </h3>
    </div>
    <div class="text-padding col-md-6 col-sm-6">
      <img id="thirdPhoto" src="https://vspolimenov.github.io/bobeto/assets/gushkam.JPG" class="rounded-circle photo"
        alt="Paris">
    </div> <br><br>
  </div>
  <div class="row">
    <div data-aos="zoom-out-down" class="text-padding col-md-6 col-sm-6">
      <img src="https://vspolimenov.github.io/bobeto/assets/shushanki.JPG" class="photo">
    </div>
    <div data-aos="zoom-out-down" class="text-padding col-md-6 col-sm-6">
      <h3>
        И да си готвим шушанки</h3> <br><br>
    </div>
  </div><br><br><br><br><br><br><br><br>
  <div class="width80">
    <div class="divider light"></div>
  </div><br><br><br><br><br><br><br><br><br>
  <div class="bgr">
    <div class="row">
      <div data-aos="zoom-out-down" class="text-padding col-md-6 col-sm-6">
        <h3>
          Желанията на бобето.<br>Бобето много иска:<br>
          1. Да отиде в {{text}}<br>
          2.Да съм до тееб<br>
          3. {{wish}}
        </h3>
      </div>
      <div data-aos="zoom-out-down" class="text-padding col-md-6 col-sm-6">
        <img id="thirdPhoto" src="https://vspolimenov.github.io/bobeto/assets/last_for_site.JPG"
          class="rounded-circle photo" alt="Paris">
      </div><br><br>
    </div>
  </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <div class="width80">
    <div class="divider light"></div><br><br><br><br><br>
  </div>
  <div class="row"><br><br><br>
    <div data-aos="zoom-out-down" class="text-padding col-12">
      <h3>
        Обичам те и те целувам, бобче
      </h3>

      <img id="thirdPhoto" src="https://vspolimenov.github.io/bobeto/assets/ot_men.JPG" class="photo" alt="Paris">

    </div>
  </div><br><br><br><br><br><br><br><br>
</div>
<router-outlet></router-outlet>