
<div class="containter">
<br>
<br>
<br><br>
<br>
<br><br>
<br>
<div class="row" style="padding-left:7%">
    
  <div data-aos="zoom-out-down" class="col-md-12 col-sm-12 col-12">

          <h3>Здравей бобенце, този сайт е направен специално за теб с много любов  </h3>

  </div>
</div>
<br> <br>
<br>
<br>
<br><br>
<br><div class="row" style="padding-left:7%; padding-right:17%;">

    <div data-aos="flip-left"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="2000" class="col-md-12 col-sm-12 col-12">
        <img id="thirdPhoto" src="https://vspolimenov.github.io/assets/bobeto/IMG_20180610_000929_470.jpg"  class="rounded-circle" alt="Paris">
    </div>
   </div>
<br> <br>
<br>
<br><br>
<br>
<br><br>
<br>
<br>
<div class="row " >

    <div data-aos="zoom-out-down" class="col-md-12 col-sm-12 col-12" style="padding-left:7%;">
  
            <h3>Днес моето момиче има празник  </h3>
  
    </div>
  </div>
 <br>
      <br>
      <br><br>

      <br>
      <br><br>
      <br>
      <br>
 
<br>
 <br>
 <br>
 <br>
   <div class="row" style="padding-left:7%; padding-right:17%;">
    
     <div data-aos="zoom-out-down" class="col-md-12 col-sm-12 col-12">
         <p class="popout">
             <span>Честит рожден ден, мило бобче </span>

         </p>
     </div>
 </div>
 <div class="row" style="padding-left:7%; padding-right:17%;">

  <div data-aos="flip-left"
  data-aos-easing="ease-out-cubic"
  data-aos-duration="2000" class="col-md-12 col-sm-12 col-12">
      <img id="thirdPhoto" src="https://vspolimenov.github.io/assets/bobeto/IMG_0440.JPG" width="100%" height="500px" class="rounded-circle" alt="Paris">
  </div>
 </div>
 <br>
 <br> <br>
 <br>
 <br>
 <br> <br>
 <br>
 <br>
 <br>
 <br>
   <div class="row " style="padding-left:7%; padding-right:17%;">
    <div class="col-md-3">

    </div>
    <div class="col-md-9 p-padding col-sm-12 col-12">
            <div data-aos="fade-up">
       <h3>
        Първо ти пожелавам да си жива и здрава
       </h3></div></div>
       <div class="row"><div data-aos="fade-left">
        <img id="thirdPhoto" src="https://vspolimenov.github.io/assets/bobeto/zdravec.jpg"  alt="Paris">
      </div>
  <br>
        <br>
        <br><br>
        <br> <br>
        <br>
        <br><br>
        <br>
        <br><br>
        <br>
        <br> <br>
        <br>
        <br><br>
        <br>
        <br><br>
        <br>
        <br>
        <br><br>
        <br>
        <br>
   <br>
   <br>
   <br>
   <br>
   <div id="AboutMe"></div>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <div class="row" style="padding-left:7%; padding-right:17%;">
      <div class="col-md-2 col-sm-12 col-12"></div>
       <div data-aos="zoom-out-down" class="col-md-5 col-sm-12 col-12">
          <h3>
            Да бъдеш винаги така усмихната и позитивна, изпълнена с енергия и мотивация
          </h3>
       </div>
       </div> </div> <div class="row">
       <div data-aos="flip-left"
       data-aos-easing="ease-out-cubic"
       data-aos-duration="2000" class="col-md-5 col-sm-12 col-12">
           <img id="thirdPhoto" src="https://vspolimenov.github.io/assets/bobeto/IMG_20180415_201815_311.jpg"  class="rounded-circle" alt="Paris">
       </div>
   </div>
   <br>
   <br>
   <br>
   <br>
   <div class="row" style="padding-left:7%; padding-right:17%;">
    <div class="col-md-2 col-sm-12 col-12"></div>
     <div data-aos="zoom-out-down" class="col-md-5 col-sm-12 col-12">
        <h3>
          Бъди винаги така отдадена на работата си и на нещата които правиш. Знам че винаги ще успяваш в своите начинания, защото ти си едно
           забележително момиче, което не се спира пред никакви пречки и трудности
        </h3>
     </div>
     </div> </div>

   <br>
   <br>
   <br>
   <br>
   <div class="row" style="padding-left:7%; padding-right:17%;">
     <div  class="col-md-4 col-sm-12 col-12"></div>
    <div data-aos="flip-left"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="2000" class="col-md-4 col-sm-12 col-12">
        <img id="thirdPhoto" src="https://vspolimenov.github.io/assets/bobeto/IMG_20180427_115425_362.jpg" width="100%" height="320px"  alt="Paris">
    </div>
    <div  class="col-md-4 col-sm-12 col-12"></div>
</div>
 
   <br> <div class="row" style="padding-left:7%; padding-right:17%;">
      <div data-aos="zoom-out-down" class="col-md-12">    <br>
        <br><br>
        <br>
        <br>
        <br>
                 
      <h3>
        Сега едно бързо поздравче и продължаваме...
      </h3>
     </div>
  </div>  
   <br>
   <br><div class="row">

    <div class="col-md-12"><iframe width="560" height="315" src="https://www.youtube.com/embed/updfL4-cxdg?start=15" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
   </div>
   <br><br>
   <br>
   <br>
   <br>
   <br><br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <div class="row" style="padding-left:7%; ">
       <div data-aos="zoom-out-down" class="col-md-12">            
       <h3>
         Искам да знаеш, че аз те обичам ужасно много и съм благодарен за всеки един миг, който прекарвам с теб, любов моя
       </h3>
      </div>
   </div>  
   <div class="row" style="padding-left:7%; ">
      <div  class="col-md-4 col-sm-12 col-12"></div>
      <div data-aos="flip-left" class="col-md-4 col-sm-12 col-12">
          <img id="thirdPhoto" src="https://vspolimenov.github.io/assets/bobeto/IMG_20180907_191520_212.jpg" width="100%" height="320"  alt="Paris">
      </div>
      <div  class="col-md-4 col-sm-12 col-12"></div>
  </div>
  <br><br><br><br>
  <div class="row" style="padding-left:7%; padding-right:17%;">
      <div data-aos="zoom-out-down" class="col-md-12">            
      <h3>
        Пожелавам ти много пътувания, купони и безброй хубави емоции
      </h3>
     </div>
  </div>  
  <div class="row" style="padding-left:7%; padding-right:17%;">
     <div  class="col-md-4 col-sm-12 col-12"></div>
     <div data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="2000" class="col-md-4 col-sm-12 col-12">
         <img id="thirdPhoto" src="https://vspolimenov.github.io/assets/bobeto/tenor.gif"   alt="Paris">
     </div>
     <div  class="col-md-4 col-sm-12 col-12"></div>
 </div>
  <br><br><br><br><br>
  <div class="row" style="padding-left:7%; padding-right:17%;">
      <div data-aos="zoom-out-down" class="col-md-12">            
      <h3>
        Нямам търпение да си те гушкам, целувам и усещам близо до мен (Пепи и децата също искат да те гушкат)     </h3>
     </div>
  </div>  
  <div class="row" style="padding-left:7%; padding-right:17%;">
     <div  class="col-md-4 col-sm-12 col-12"></div>
     <div data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="2000" class="col-md-4 col-sm-12 col-12">
         <img id="thirdPhoto" src="https://vspolimenov.github.io/assets/bobeto/IMG_20180604_105619_090.jpg" width="100%" height="320px"   alt="Paris">
     </div>
     <div  class="col-md-4 col-sm-12 col-12"></div>
 </div><br><br><br><br>
 <div class="row" style="padding-left:7%; padding-right:17%;">
    <div data-aos="zoom-out-down" class="col-md-12">            
    <h3>
     П.П: Надявам се пилето да ти е харесало, символично прелетя 7000 километра от България за да ти изпрати целувки и много любов   </h3>
   </div>
</div>  
<div class="row" style="padding-left:7%; padding-right:17%;">
   <div  class="col-md-4 col-sm-12 col-12"></div>
   <div data-aos="flip-left"
   data-aos-easing="ease-out-cubic"
   data-aos-duration="2000" class="col-md-4 col-sm-12 col-12">
       <img id="thirdPhoto" src="https://vspolimenov.github.io/assets/bobeto/pile.jpg"   alt="Paris">
   </div>
   <div  class="col-md-4 col-sm-12 col-12"></div>
</div><br><br><br><br><br>
<div class="row" style="padding-left:7%; padding-right:17%;">
    <div data-aos="zoom-out-down" class="col-md-12">            
    <h3>
     още един П.П: Следващата песен ми се е набила в главата, така че още едно поздравче  </h3>
   </div>
</div>  
<br><div class="row">
<div class="col-md-6"></div>
    <div class="col-md-6">
        <br><br><br><br><br><br><br><br><br><br><iframe width="560" height="315" src="https://www.youtube.com/embed/tDNheubNeys" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  </div>
      </div>
   <router-outlet></router-outlet>